@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 100 900;
    font-display: auto;
    src: url('/font/LibreFranklin-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 100 900;
    font-display: auto;
    src: url('/font/LibreFranklin-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('/font/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    font-display: auto;
    src: url('/font/SpaceMono-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('/font/SpaceMono-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700;
    font-display: auto;
    src: url('/font/SpaceMono-BoldItalic.ttf') format('truetype');
}
:root {
    --yeti-50: oklch(0.965 0.005 232.04);
	--yeti-100: oklch(0.95 0.025 232.04);
	--yeti-200: oklch(0.905 0.055 232.04);
	--yeti-300: oklch(0.83 0.1 232.04);
	--yeti-400: oklch(0.7366 0.114 232.04);
	--yeti-500: oklch(0.685 0.13 232.04);
	--yeti-600: oklch(0.595 0.115 232.04);
	--yeti-700: oklch(0.5 0.1 232.04);
	--yeti-800: oklch(0.435 0.085 232.04);
	--yeti-900: oklch(0.36 0.065 232.04);
	--yeti-950: oklch(0.16 0.0326 232.04);
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.13 0.028 261.692);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.21 0.034 264.665);
	--primary-foreground: oklch(0.985 0.002 247.839);
	--secondary: oklch(0.967 0.003 264.542);
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.967 0.003 264.542);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.928 0.006 264.531);
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.002 247.839);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
}

@theme inline {
    --font-sans: 'Libre Franklin', sans-serif;
    --font-mono: 'Space Mono', monospace;
    /*add some more things like back

    /*using rems for font sizes*/
    --text-9xl: 9rem;
    --text-8xl: 8rem;
    --text-7xl: 7rem;
    --text-6xl: 6rem;
    --text-5xl: 5rem;
    --text-4xl: 4rem;
    --text-3xl: 3rem;
    --text-2xl: 2rem;
    --text-xl: 1.25rem; /* 20px */
    --text-lg: 1.125rem; /* 18px */
    --text-base: 1rem; /* 16px */
    --text-sm: 0.75rem; /* 16px */
    --text-xm: 0.875rem; /* 14px */

    --color-yeti-50: var(--yeti-50);
	--color-yeti-100: var(--yeti-100);
	--color-yeti-200: var(--yeti-200);
	--color-yeti-300: var(--yeti-300);
	--color-yeti-400: var(--yeti-400);
	--color-yeti-500: var(--yeti-500);
	--color-yeti-600: var(--yeti-600);
	--color-yeti-700: var(--yeti-700);
	--color-yeti-800: var(--yeti-800);
	--color-yeti-900: var(--yeti-900);
    --color-yeti-950: var(--yeti-950);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

pre {
    @apply text-sm font-mono;
}

/*---break---*/

.dark {
    --background: oklch(0.13 0.028 261.692);
    --foreground: oklch(0.985 0.002 247.839);
    --card: oklch(0.21 0.034 264.665);
    --card-foreground: oklch(0.985 0.002 247.839);
    --popover: oklch(0.21 0.034 264.665);
    --popover-foreground: oklch(0.985 0.002 247.839);
    --primary: oklch(0.928 0.006 264.531);
    --primary-foreground: oklch(0.21 0.034 264.665);
    --secondary: oklch(0.278 0.033 256.848);
    --secondary-foreground: oklch(0.985 0.002 247.839);
    --muted: oklch(0.278 0.033 256.848);
    --muted-foreground: oklch(0.707 0.022 261.325);
    --accent: oklch(0.278 0.033 256.848);
    --accent-foreground: oklch(0.985 0.002 247.839);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.034 264.665);
    --sidebar-foreground: oklch(0.985 0.002 247.839);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
    --sidebar-accent: oklch(0.278 0.033 256.848);
    --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}