---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="font-sans text-5xl text-center">
		<h1>Astro</h1>
		<p class="text-7xl">Text 7xl</p>
		<p class="text-6xl">Text 6xl</p>
		<p class="text-5xl">Text 5xl</p>
		<p class="text-4xl">Text 4xl</p>
		<p class="text-3xl">Text 3xl</p>
		<p class="text-2xl">Text 2xl</p>
		<p class="text-xl">Text xl</p>
		<p class="text-lg">Text lg</p>
		<p class="text-base">Text base</p>
		<p class="text-sm">Text sm</p>
		<p class="text-xs">Text xs</p>
	</body>
</html>
