---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="font-sans text-5xl text-center w-15">
		<h1>Astro</h1>
		<pre class="text-left">
			<code>
				const hello = 'Hello, Astro!';
				console.log(hello);
			</code>
		</pre>
	</body>
</html>
